@model IEnumerable<DT.Entity.tb_NCC_ThgHieu>

@{
    ViewBag.Title = "Thương hiệu";
    Layout = "~/Areas/Admin/Views/Trademark/TrademarkLayout.cshtml";
}

<div class="col-lg-12 mb-4">
    <div class="box-item">
        <h6>Danh sách thương hiệu</h6>
        <hr />
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.tb_ThuongHieu.MaThgHieu)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tb_ThuongHieu.TenThgHieu)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tb_NhaCungCap.TenNCC)
                </th>
                <th>Tác vụ</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr id="Item_@item.ID">
                    <td>
                        @Html.DisplayFor(modelItem => item.tb_ThuongHieu.MaThgHieu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tb_ThuongHieu.TenThgHieu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tb_NhaCungCap.TenNCC)
                    </td>
                    <td>
                        <div class="d-flex">
                            @Ajax.ActionLink(" ", "Delete", new { @id = item.ID }, new AjaxOptions
                                    {
                                        Confirm = "Xóa thương hiệu này",
                                        OnComplete = "$('#Item_" + @item.ID + "').remove()",
                                        HttpMethod = "Delete",
                            }, new { @class = "bi bi-archive-fill btn mx-1 btn-danger btn-sm" })

                            <a href="/admin/thuong-hieu/chi-tiet/@item.ID" class="btn mx-1 btn-success btn-sm">
                                <i class="bi bi-eye"></i>
                            </a>
                            <a href="/admin/thuong-hieu/sua/@item.ID" class="btn mx-1 btn-secondary btn-sm">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>