@model PagedList.IPagedList<DT.Entity.tb_NhanVien>
@using PagedList.Mvc
@{
    ViewBag.Title = "Quản lý nhân viên";
    Layout = "~/Areas/Admin/Views/Members/MemberLayout.cshtml";
}
<div class="col-lg-12 mb-4">
    <div class="box-item">
        <div class="header-box d-flex">
            <div class="title">
                <h6>Danh sách thành viên</h6>
            </div>
        </div>
        <table class="table">
            <tr>
                <th>
                    Mã
                </th>
                <th>
                    Họ Tên
                </th>
                <th>
                    Giới tính
                </th>
                <th>
                    Số điện thoại
                </th>
                <th>
                    Ngày sinh
                </th>
                <th>
                    Địa chỉ
                </th>
                <th>
                    Tên đăng nhập
                </th>
                <th>
                    Chức vụ
                </th>
                <th>
                    Tác vụ
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr id="Item_@item.MaNV">
                    <td>
                        @Html.DisplayFor(modelItem => item.MaNV)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoTen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GioiTinh)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SDT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgaySinh)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiaChi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.tb_ChucVu.TenChucVu)
                    </td>

                    <td>
                        <div class="d-flex">
                            @Ajax.ActionLink(" ", "Delete", new { @id = item.MaNV }, new AjaxOptions
                                    {
                                        Confirm = "Bạn có muốn xóa nhân viên này không",
                                        OnComplete = "$('#Item_" + @item.MaNV + "').remove()",
                                        HttpMethod = "Delete",

                            }, new { @class = "bi bi-archive-fill btn mx-1 btn-danger btn-sm" })

                            <a href="/admin/thanh-vien/chi-tiet/@item.MaNV" class="btn mx-1 btn-success btn-sm">
                                <i class="bi bi-eye"></i>
                            </a>
                            <a href="/admin/thanh-vien/sua/@item.MaNV" class="btn mx-1 btn-secondary btn-sm">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a href="/admin/thanh-vien/reset-pass/@item.MaNV" class="btn mx-1 btn-info btn-sm text-white white-space-nowrap">
                                Reset Pass
                            </a>
                        </div>
                    </td>
                </tr>
            }

        </table>
        <div class="d-flex" style="justify-content:flex-end">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
            new PagedListRenderOptions()
            {
                LiElementClasses = new List<string> { "page-item", "page-link" }
            })
        </div>
    </div>
</div>
